.social-list li a[href*="facebook.com"]::before { content: '\f09a' !important; }
.social-list li a[href*="twitter.com"]::before { content: '\f099' !important; }
.social-list li a[href*="dribbble.com"]::before { content: '\f17d' !important; }
.social-list li a[href*="plus.google.com"]::before { content: '\f0d5' !important; }
.social-list li a[href*="pinterest.com"]::before { content: '\f0d2' !important; }
.social-list li a[href*="github.com"]::before { content: '\f09b' !important; }
.social-list li a[href*="tumblr.com"]::before { content: '\f173' !important; }
.social-list li a[href*="youtube.com"]::before { content: '\f167' !important; }
.social-list li a[href*="flickr.com"]::before { content: '\f16e' !important; }
.social-list li a[href*="vimeo.com"]::before { content: '\f194' !important; }
.social-list li a[href*="instagram.com"]::before { content: '\f16d' !important; }
.social-list li a[href*="linkedin.com"]::before { content: '\f0e1' !important; }


.social-list{
  a{
    font-family: "fontawesome";
  }//a
}//.social-list
