.zlayer0{ z-index: auto; }
.zlayer1{ z-index: 50; }
.zlayer2{ z-index: 100; }
.zlayer3{ z-index: 150; }
.zlayer4{ z-index: 200; }


.screen-text-reader{
  clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

#page-content{
  display: block;
  min-height: 100vh;
  overflow:hidden;
}

.page-section{
  padding: 1.5em;
  @media screen and (min-width: $window-md){ padding: 2em; }
  @media screen and (min-width: $window-xl){ padding: 2.5em; }
}

.loading{
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;

  .lds-ellipsis{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.lazyload-placeholder{
  display: block;
  height: 90vh;
}//.lazyload-placeholder
