$window-sm: 560px;
$window-md: 760px;
$window-lg: 1150px;
$window-xl: 1500px;
$window-xxl: 1700px;

$single-md: 40em; //720px
$single-lg: 50em; //900px

$sidebar-size: 18.75em;

$nav-container-lg: 1100px;

$page-container-lg: 1400px;

$single-container-md: 800px;
$single-container-lg: 1182px;
